/*.formControl.error input,*/
/*.formControl.error textarea*/
/*{*/
/*    border: 3px solid red;*/
/*}*/

.error textarea {
    border: 3px solid red;
}
.error input {
    border: 3px solid red;
}

.noError textarea, input{
    border: 1px solid black;
    border-radius: 5px;
}

.error span{
    color: red;
}

